body, html {
  background-color: #B6DFDD;
  margin: 0;
}

h1 {
  background-color: #62e98b;
  border-bottom: 2px solid black;
  margin: 0 0 10px 0;
  padding: 10px;
  text-align: center;
}

.bg-dark {
  background-color: black;
  color: white;
}

.all-groups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.container-group {
  border: 2px solid;
  display: flex;
  flex-direction: column; 
  margin: 10px;
  width: 250px;
  padding: 10px;
  border-radius: 5%;
}
.container-group-A {
  background-color: #03B3E8;
}
.container-group-B {
  background-color: #F75868;
}
.container-group-C {
  background-color: #FDDD56;
}
.container-group-D {
  background-color: #AA69F7;
}
.container-group-E {
  background-color: #36DD4A;
}
.container-group-F {
  background-color: #FF862E;
}
.container-group-G {
  background-color: #919ba8;
}
.container-group-H {
  background-color: #54ffe8;
}

.input-unchecked {
    width: 1.3em;
    height: 1.3em;
    background-color: #F5EEE3;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #c2bcb3;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.input-unchecked:hover {
  background-color: #3dff78;
}
.input-checked {
    width: 1.3em;
    height: 1.3em;
    background-color: #3dff78;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #c2bcb3;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

th {
  margin: 0;
  padding: 0;
}

.container-rankings {
  background-color: #77b2f5;
  border: 5px solid;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  max-width: 1000px;
  padding: 10px;
  text-align: center;
}

.places td {
  background-color: black;
  color: white;
  outline: 2px solid black;
  padding: 0;
}

.td-winning-country {
  outline: 2px solid;
  max-width: 10px;
}
.td-winning-country:hover {
  cursor: pointer;
  background-color: #64e28a;
}

.td-winning-country p {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 20px 0;
}
.td-winning-country p:hover {
  cursor: pointer;
  background-color: #e1e43b;
}
